# ---------------------
# BACKEND (.NET Core)
# ---------------------
**/bin/
**/obj/
**/Properties/launchSettings.json
**/appsettings.*.json       # manter apenas se quiser esconder produção
**/appsettings.json         # apenas se usar em produção via env
**/secrets.json
**/*.db                     # banco SQLite local

# docker
**/Dockerfile
**/.dockerignore
**/data/

# Publish output
**/publish/
**/out/

# IDEs
.vscode/
.idea/

# ---------------------
# FRONTEND (React + Vite)
# ---------------------
**/node_modules/
**/dist/
**/.env
**/.env.*                   # todas as variações (dev, production)

# NPM / Yarn
**/package-lock.json
**/yarn.lock

# Log & OS files
*.log
*.DS_Store
Thumbs.db

# ---------------------
# GERAL
# ---------------------
.env
.env.*
